{{define "body_content"}}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                策略管理<small>&nbsp;添加策略</small>
            </h3>

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="clearfix">
        <form id="policy_form" action="#">
            <div class="form-group">
                <label for="name">策略名称</label>
                <input type="text" class="form-control" id="policy_name" name="policy_name" placeholder="只能为字母、数字和下划线，长度在2~40内">
            </div>
            <div class="form-group">
                <label for="name">策略模型</label>
                <select id="policy_divmodel" name="policy_divmodel" class="form-control">
                    <option value="request_body_countryCode">按照请求countryCode分流</option>
                </select>
            </div>
            <div class="form-group">
                <!--todo user json-editor form-->
                <label for="name">策略数据schema</label>
                <textarea rows="5" cols="20" class="form-control" id="policy_divdata" name="policy_divdata" placeholder="json data"></textarea>
            </div>
            <div class="form-group" id="checkStatus">
                <label for="status">审核</label>
                <select id="policy_status" name="policy_status"  class="form-control">
                    <option value="0">通过</option>
                    <option value="1">未审核</option>
                    <option value="2">拒绝</option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">是否删除</label>
                <select id="policy_isdelete" name="policy_isdelete"  class="form-control">
                    <option value="0">有效</option>
                    <option value="1">删除</option>
                </select>
            </div>
            <input type="submit" id="policy_submit" class="btn btn-default" value="添加策略">
        </form>
    </div>
</div>
<div class="row"></div>
<script src="/static/js/common/common-config.js"></script>
<script src="/static/js/abtest/policy.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#policy_form").validate({
            rules : policy_rules,
            messages : policy_messages,
            submitHandler : function(form) {
                policy.add();
                //alert($("#policy_form").serialize()) ;
                //form.submit();
                //alert("div:"+$("#div_params_list").find('div[name="div_params_list_row"]').length);
                /*var paramRow = new Array;
				$("#div_params_list").find('div[name="div_params_list_row"]').each(function (){
					var obj = $(this).find(':input');
					var objItem = new  Object();
					$(this).find(':input').each(function (){
						if($(this).attr('name') == 'param_name'){
							objItem.param_name = $(this).val();
						}else if($(this).attr('name') == 'param_type'){
							objItem.param_type = $(this).val();
						}else if($(this).attr('name') == 'param_required'){
							objItem.param_required = $(this).val();
						}else if($(this).attr('name') == 'param_desc'){
							objItem.param_desc = $(this).val();
						}
					});
					paramRow.push(objItem);
				});*/
            }
        });
    });
</script>
{{end}}