{{define "body_content"}}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                策略组管理<small>&nbsp;添加策略组</small>
            </h3>

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="clearfix">
        <form id="policy_group_form" action="#">
            <div class="form-group">
                <label for="name">策略组名</label>
                <input type="text" class="form-control" id="policy_group_name" name="policy_group_name" placeholder="策略组别名">
            </div>
            <div class="form-group">
                <label for="name">所选策略</label>
                <select id="policy_group_policyIds" multiple="multiple" name="policy_group_policyIds" class="form-control" placeholder="可多选">
                </select>
            </div>
            <div class="form-group">
                <label for="status">审核</label>
                <select id="policy_group_status" name="policy_group_status"  class="form-control">
                    <option value="0">通过</option>
                    <option value="1">未审核</option>
                    <option value="2">拒绝</option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">删除</label>
                <select id="policy_group_isdelete" name="policy_group_isDelete"  class="form-control">
                    <option value="0">有效</option>
                    <option value="1">删除</option>
                </select>
            </div>
            <input type="submit" id="policy_group_submit" class="btn btn-default" value="添加策略组">
        </form>
    </div>
</div>
<div class="row"></div>
<script src="/static/js/common/common-config.js"></script>
<script src="/static/js/abtest/policy_group.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#policy_group_policy_groupIds").select2({ }); 
        policy_group.getAvailablePolicies();
        
        $("#policy_group_form").validate({
            rules : policy_group_rules,
            messages : policy_group_messages,
            submitHandler : function(form) {
                policy_group.add();
                //alert($("#policy_group_form").serialize()) ;
                //form.submit();
                //alert("div:"+$("#div_params_list").find('div[name="div_params_list_row"]').length);
                /*var paramRow = new Array;
				$("#div_params_list").find('div[name="div_params_list_row"]').each(function (){
					var obj = $(this).find(':input');
					var objItem = new  Object();
					$(this).find(':input').each(function (){
						if($(this).attr('name') == 'param_name'){
							objItem.param_name = $(this).val();
						}else if($(this).attr('name') == 'param_type'){
							objItem.param_type = $(this).val();
						}else if($(this).attr('name') == 'param_required'){
							objItem.param_required = $(this).val();
						}else if($(this).attr('name') == 'param_desc'){
							objItem.param_desc = $(this).val();
						}
					});
					paramRow.push(objItem);
				});*/
            }
        });
    });
</script>
{{end}}